body {
  background-color: #573f8f;
  color: #dbdbdf;

  font-size: 16px;
  font-weight: normal;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.avatar {
  width: 200px;
  border-radius: 40px;
}

.born {
  display: inline;
}

.data {
  display: inline;
}

.info h1 {
  color: #d0a5e9;
  margin: 0;
  font-style: italic;
}

.info h2  {
  color: rgb(209, 167, 233);
  margin: 0;
}

.info h3 {
  font-style: italic;
}

.conteiner {
  width: 100%;
   margin: auto;
   
}

.hobby {
  background:#601db8;
  border: 5px solid rgb(216, 173, 236);
  border-bottom-style:outset;
  border-right-style:outset;
  padding: 15px 40px;
  margin: 10px;l
}


.social {
  background: #601db8;
  border: 5px solid rgb(216, 173, 236);
  border-bottom-style:outset;
  border-right-style:outset;
  padding: 15px 40px;
  margin: 10px;
}

h2 {
  color: #d0a5e9;
}
 

.family h2{
  margin: 0;
}

.family h3{
  margin: 0;
}